*{
	padding: 0;
	margin: 0;
	border: 0;
}
html{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*,*::before,*::after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "NerisThin";
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


@font-face {
	font-family: "Proxima Nova Bold";
	src: url('./font/ProximaNova-Bold.eot');
	src: url('./font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('./font/ProximaNova-Bold.woff') format('woff'),
	url('./font/ProximaNova-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Thin';
	src: url('./font/ProximaNovaT-Thin.eot');
	src: url('./font/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
	url('./font/ProximaNovaT-Thin.woff') format('woff'),
	url('./font/ProximaNovaT-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: "Proxima Nova Thin";

}

.wrapper{
	width: 90%;
	margin: 0 auto;
	/*padding: 0 20px;*/
}

.wrapper__full{
	width: 100%;
	height: 100vh;
	background-color: rgba(20,20,20,0.8);

}

/* header style start */


.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	padding-bottom: 10px;
}
.header__active{
	background: #212121;
}
.header__logo{
	padding-right: 22px;
}
.header__main {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
	margin: 0 auto;
	/*align-items: center;*/
	justify-content: center;
}

.header__nav__list {
	display: flex;
	flex-wrap: wrap;
	margin: auto;

}
.header__nav__item {
	padding-top: 16px;
	margin-left: 25px;
}
.header__nav__item__link {
	font-family: "Proxima Nova Thin";
	text-transform: uppercase;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0.02em;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	padding-bottom: 10px;	
}

.header__nav__item__link:hover{
	padding-bottom: 5px;
	transition: 0.5s;
	border-bottom: 2px solid #F04C23;
}

.header__contact {
	padding-left: 30px;
}
.header__contact__titel {
	color: rgb(240,76,35);
	font-family: "Proxima Nova Thin";
	text-transform: uppercase;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-align: left;
}
.header__contact__num {
	color: #fff;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.01em;
	text-align: left;
}

.header__buttom {
	padding-top: 15px;
	margin-left: 30px;
}
.header__buttom__link {
	color: #fff;
	font-family: "Proxima Nova Thin";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.05em;
	text-align: center;
	border: 1px solid white;
	padding: 10px 20px;
}

.header__buttom__link:hover{
	transition: 0.5s;
	background: white;
	border: 1px solid #F04C23;
	color: #F04C23;
}

/* header style end */


/* welcome style start */

.welcome{
	position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../img/house.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.welcome__text{
	font-family: "Proxima Nova Bold";
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px #fff;
	padding-left: 470px;
	font-size: 70px;
	font-weight: bold;
	padding-top: 35vh;
	padding-bottom: 36vh;
}

.welocome__honor {
	position: absolute;
	bottom: 40px;
	right: 260px;
}



.welcome__scroll:before{
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	content: "v";
	position: absolute;
	bottom: 30px;
	left: calc(50% - 10px);
	padding: 5px 10px;
}

/* welcome style end */

/* about style start */

.about {
	min-height: 650px;
}

.about__main{
	padding-top: 120px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.about__left {

	grid-column: span 1;
	padding: 50px 30px;
	background-color: #F04C23;
}

.about__left__text{
	color: #fff;
	font-family: "Proxima Nova Bold";
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.01em;
	text-align: left;
}

.about__left__look{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	font-family: "Proxima Nova Bold";
	color: #fff;
	padding-top: 30px;
	font-size: 16px;
}

.bg{
	top: 20px;
	position: absolute;
	content: "";
	padding: 15px;
	border-radius: 50%;
	background-color: #FB714E;
}

.about__left__look__text{
	position: absolute;
	padding-left: 10px;
	line-height: 10px;

}
.arrow:before{
	line-height: 20px;
	margin-left: 250px;
	font-size: 50px;
	content: '\1F812';
}
.about__right {
	grid-column: span 2;
	position: relative;
}

.about__right__desc {

}
.about__right__desc__item {
	padding-left: 130px;
	padding-top: 40px;
	height: 80px;
	padding-bottom: 60px;

}
.item__elements {
	height: 80px;
	line-height: 80px;
	font-size: 20px;
}
.num {
	display: inline-block;
	font-family: "Proxima Nova Bold";
	font-weight: bold;
	font-size: 65px;
	line-height: 80px;
	width: 150px;

}
.plus {
	display: inline-block;
	font-family: "Proxima Nova Bold";
	padding-left: 20px;
	padding-right: 30px;
	font-size: 50px;
	color: #F04C23;
	line-height: 80px;
}

.item__elements__text{
	display: inline-block;
}

.about__right__text{
	font-family: "Proxima Nova Bold";
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px #F04C23;
	position: absolute;
	font-size: 80px;
	top: 35%;
	right: 0px;
	transform: rotate(90deg);
}
/* about style end */

/* cost style start */
.cost{
	background-color: #f6f6f6;
}
.cost__main {
	padding-top: 120px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

}
.cost__left {
	position: relative;
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 100px;
}

.money {
	font-family: "Proxima Nova Bold";
	font-size: 70px;
	color: #F04C23;
}
.house {
	font-family: "Proxima Nova Bold";
	font-size: 70px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px #F04C23;

}
.place {
	font-weight: 600;
	font-size: 20px;
}

.box{
	position: absolute;
	bottom: 60px;
	right: 50px;
	transform: rotate(-5deg);
}
.cost__right {
	position: relative;
}
.cost__right__text{
	font-family: "Proxima Nova Bold";
	font-size: 26px;
	left: 15%;
	top: 5%;
	position: absolute;
	transform: rotate(180deg);
	writing-mode: vertical-lr;
}
.cost__right__form{
	max-width: 440px;
	margin: 0 auto;
	padding-left: 40px;
}
.cost__forma__text{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 20px;
}
.cost__form__item{
	margin: 10px 0;
	padding-left: 10px;
	width: 100%;
	height: 40px;
	border: 1px solid #F04C23;
}
.cost__form__check{
	margin-top: 5px;
}

input[type="checkbox"] {
	position: absolute;
	height: 1px;
	width: 1px;
	margin-left: 17px;
	margin-top: 27px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

input[type="checkbox"]:checked {
	background-color: #fff;
	color: #000;
}

label {
	color: #000;
	cursor: default;
	font-weight: normal;
	line-height: 30px;
	padding: 10px 0;
	vertical-align: middle;
}

label:before {
 content: " ";
 color: #fff;
 display: inline-block;
 font: 10px FontAwesome;
 margin-right: 5px;
 position: relative;
 text-align: center;
 text-indent: 0px;
 width: 15px;
 height: 15px;
 background: #FFF;
 border: 1px solid #F04C23;
 vertical-align: middle;
}

input:checked + label:before {
/* глифон - галочка */
 content: "\2714";
 background-color: #F04C23;
}

input:disabled + label:before {
 background: #eee;
 color: #aaa;
}


.checkbox__text{
	font-size: 11px;
	padding-left: 10px;
}
.cost__send{
	margin-left: 10px;
	background: #F04C23;
	color: #fff;
	padding: 10px 20px;
}

/* cost style end */

/* control style start */

.control {
	padding-bottom: 50px;
}
.control__main__elem {
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 100px;
	width: 90%;
	padding-left: 80px;
	grid-column-gap: 50px;
}

.control__main__img{
	margin: 0 auto;
}

.control__text {
	padding-top: 40px;
	padding-bottom: 20px;
}
.control__text__titel {
	font-family: "Proxima Nova Bold";
	font-size: 22px;
	padding-bottom: 20px;
}
.control__main__text {
	font-size: 20px;
}

/* control style end */

/* scripts style start */

.scripts{
	padding-top: 50px;
	background-color: #f6f6f6;

}

.scripts__titel {
	font-family: "Proxima Nova Bold";
	color: #F04C23;
	font-size: 40px;
	text-align: center;
	padding-bottom: 10px;

}
.scripts__subtitel {
	padding-bottom: 50px;
	font-size: 26px;
	text-align: center;
}
.scripts__main {
	width: 85%;
	margin: 0 auto;
	padding-bottom: 60px;
}
.scripts__img {
	float: right;
}
.scripts__main__titels {
	font-family: "Proxima Nova Bold";
	font-size: 20px;
	padding-bottom: 5px;
}

.scripts__main__descr {
	font-size: 18px;
	padding-bottom: 15px;
}

/* scripts style end */

/* gallery style start */
.gallery {
	padding-top: 50px;
	padding-bottom: 80px;
}

.gallery__titel {
	font-family: "Proxima Nova Bold";
	text-align: center;
	font-size: 30px;
	padding-bottom: 20px;
	color: #F04C23;

}
.gallery__main {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 10px;
}
.gallery__item {
	grid-column: span 2;
	padding-bottom: 10px;
	margin: 0 auto;
}
.gallery__item__elem {
	width: 400px;
	height: 250px;
}

/* gallery style end */

/* contact style start */


.contact {
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #f6f6f6;

}
.contacts {
	height: 100%;
	padding-top: 200px;
	background: url(../img/natural-paper.png) #f5f5f5;
}
.contact__main {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.contact__info {
	grid-column: span 1;
	text-align: center;
	margin: 0 auto;

}
.contact__info__titel {
	padding-top: 50px;
	font-size: 40px;
	font-family: "Proxima Nova Bold";
	padding-bottom: 20px;
	color: #F04C23;
}
.contact__info__decr {
	font-size: 18px;
}
.contact__map {
	padding-left: 120px;
	grid-column: span 2;

}

.map{
	width: 90%;	
	height: 90%;
}

.contact__icon{
	padding-top: 50px;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	padding-bottom: 35px;
}

.contact__icon a{
	width: 50px;
	margin: 0 auto;
}
/* contact style end */



/* popup style start */

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;

}

.popup:target {
	transition: all 0.5s ease 0s;
	opacity: 1;
	visibility: visible;
}

.popup_area{
	position: absolute;
	width: 100%;
	height: 100%;
}

.popup_body {
	min-height:  100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup_conect {
	text-align: center;
	background-color: #fff;
	color: black;
	min-width: 500px;
	min-height: 300px;
	padding: 30px;
	position: relative;
	opacity: 0;
	transform: translate(0px,-100%);
	transition: all 0.5s ease 0s;
}
.popup:target .popup_conect{
	opacity: 1;
	transform: translate(0px,0px);
}
.popup_close {
	font-size: 20px;
	font-family: "Proxima Nova Bold";
	position: absolute;
	right: 10px;
	top: 10px;
	text-decoration: none;
	color: black;

}

.popup_conect .cost__right__text{
	padding-bottom: 80px;
	left: 6%;
}

.popup_conect .cost__forma__text{
	font-size: 22px;
} 

.popup_conect .checkbox__text{
	font-size: 15px;
	padding-left: 10px;
}

.popup_conect .cost__send{
	margin: 5px auto;
	padding: 10px 165px;
}


.popup__thanks {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 1s ease 0s;
}

.popup__thanks:target {
	opacity: 1;
	visibility: visible;
}



.popup__thanks_area{
	position: absolute;
	width: 100%;
	height: 100%;
}

.popup__thanks_body {
	min-height:  100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup__thanks_conect {
	text-align: center;
	background-color: #fff;
	color: black;
	min-width: 400px;
	padding: 30px;
	position: relative;
	opacity: 0;
	transform: translate(0px,-100%);
}
.popup__thanks:target .popup__thanks_conect{
	transition: all 1s ease 0s;
	opacity: 1;
	transform: translate(0px,0px);
}
.popup__thanks_close {
	font-size: 20px;
	font-family: "Proxima Nova Bold";

	position: absolute;
	right: 10px;
	top: 10px;
	text-decoration: none;
	color: black;
}

.popup__thanks__titel{
	font-size: 22px;
	font-family: "Proxima Nova Bold";
	margin-bottom: 20px;

}

.border{
	margin: 0 auto;
	height: 1px;
	width: 120px;
	background-color: #F04C23;
	margin-bottom: 20px;
}

.popup__thanks__subtitel{
	font-size: 18px;
	font-weight: 600;
}
/* popup style end */
/*   media style start */
@media screen and (max-width: 1310px) {
	.cost__right__text{
		left: 0%;
	}
}
@media screen and (max-width: 1060px) {
	.header__nav__item__link{
		margin-left: 10px;
		font-size: 10px;
	}
	.header__nav__item{
		margin-left: 0;
	}
	.header__logo {
	    padding-right: 0;
	}
	.header__contact {
	    padding-left: 10px;
	}
	.header__contact__titel{
		font-size: 10px;
	}
	.header__contact__num{
		font-size: 12px;
	}
	.header__buttom__link{
		font-size: 12px;
	}
	.welcome__text{
		padding-left: 200px;
		font-size: 60px;
	}
	.welocome__honor {
	    right: 160px;
	}
	.about__right__desc__item {
	    padding-left: 30px;
	}
	.about__left__text{
		font-size: 26px;
	}
	.num{
		font-size: 50px;
		width: 110px;
	}
	.item__elements{
		font-size: 14px;
	}
	.about__right__text{
		font-size: 60px;
	}
	.cost__right__text {
	    left: 0;
	}
	.control__text__titel {
    	font-size: 18px;
	}
	.control__text {
	    padding-top: 10px;
	    padding-bottom: 0px;
	}
	.control__main__text {
	    font-size: 16px;
	}
	.control__main__elem {
	    padding-left: 0px;
	}
	.scripts__titel {
	    font-size: 30px;
	}
	.scripts__subtitel {
	    font-size: 22px;
	}
	.scripts__main {
	    width: 100%;
	}
	.gallery__item__elem {
	    width: 350px;
	    height: 200px;
	}
	.contact__info__titel {
	    font-size: 30px;
	}
	.contact__info__decr {
	    font-size: 16px;
	}
	.contact__map {

	}
	.map {
	    height: 80%;
	    margin-top: 40px;
	}

}

@media screen and (max-width: 770px) {
	.header__logo__img{
		width: 90px;
	}
	.header__nav__item__link {
	    margin-left: 5px;
	    font-size: 8px;
	}
	.header__contact__num {
	    font-size: 8px;
	}
	.header__contact__titel {
    	font-size: 8px;
	}
	.header__buttom {
	    margin-left: 10px;
	}
	.header__buttom__link {
		font-size: 8px;
		padding: 5px 10px;
	}
	.welcome__text {
	    padding-left: 150px;
	    font-size: 50px;
	}
	.welcome__honor__img{
		width: 200px;
	}
	.welocome__honor {
	    right: 120px;
	}
	.about__left {
	    padding: 20px 20px;
	}
	.about__left__text {
	    font-size: 18px;
	}
	.about__left__look__text {
		font-size: 14px;
	}
	.arrow:before {
		font-size: 40px;
	    margin-left: 200px;
	}
	.num {
	    font-size: 35px;
	    width: 80px;
	}
	.plus {
	    padding-left: 10px;
	    padding-right: 20px;
	    font-size: 35px;
	}
	.item__elements {
	    font-size: 12px;
	}
	.about__right__text {
	    font-size: 35px;
	    top: 45%;
	}
	.about {
	    min-height: 450px;
	}
	.about__main {
	    padding-top: 70px;
	}
	.money {
	    font-size: 50px;
	}
	.house {
	    font-size: 50px;
	}
	.place {
	    font-size: 18px;
	}
	.cost__right__text {
		font-size: 22px;
	}
	.cost__forma__text {
    	font-size: 16px;
	}
	.checkbox__text {
	    font-size: 9px;
	    padding-left: 5px;
	}
	label:before {
	    font: 7px FontAwesome;
	    margin-right: 5px;
	    width: 10px;
	    height: 10px;
	}
	.cost__send {
	    margin-left: 5px;
	    font-size: 10px;
	    padding: 5px 15px;
	}
	.control__main__text {
	    font-size: 14px;
	}
	.control__text__titel {
	    font-size: 16px;
	}
	.control__main__img {
	    margin: auto;
	}
	.scripts__titel {
	    font-size: 26px;
	}
	.scripts__subtitel {
	    font-size: 18px;
	}
	.scripts__img {
		width: 400px;
	}
	.scripts__main__titels {
	    font-size: 16px;
	}
	.scripts__main__descr {
	    font-size: 14px;
	}
	.gallery__titel {
	    font-size: 26px;
	}
	.gallery__item__elem {
	    width: 300px;
	    height: 150px;
	}
	.contact__info__titel {
	    font-size: 26px;
	}
	.contact__icon a {
	    width: 40px;
	}
	.contact__info__decr {
	    font-size: 14px;
	}
}


@media screen and (max-width: 470px) {
	.header__logo__img {
	    width: 50px;
	    padding-top: 15px;
	}
	.header__nav__item__link {
	    margin-left: 5px;
	    font-size: 8px;
	}
	.header__contact {
		display: none;
	}
	.header__main {
	    padding-top: 10px;
	}
	.header__buttom__link {
	    font-size: 8px;
	}
	.welcome__text {
	    padding-left: 50px;
	    font-size: 45px;
	}
	.about__left {
	    grid-column: span 3;
	}
	.about__right {
	    grid-column: span 3;
	    padding-bottom: 20px;
	}
	.num {
	    font-size: 30px;
	    width: 70px;
	}
	.about__right__text {
	    font-size: 30px;
	    top: 50%;
	}
	.cost__left {
	    grid-column: span 2;
	}
	.cost__right {
	    grid-column: span 2;
	}
	
	.control__main__img {
	    grid-column: span 2;

	}
	.control__text {
	    grid-column: span 2;
	}

	.control__main__img-revers {
	    -ms-grid-row: -1;
	    grid-row-start: -1;
	}
	.gallery__item {
	    grid-column: span 3;
	}
	.contact__map {
		padding-left: 20px;
	}
	.map {
	    width: 100%;
	}
	.contact__info__titel {
	    font-size: 22px;
	}
	.contact__info__decr {
	    font-size: 12px;
	}
	.contact__icon a {
	    width: 30px;
	}

	.popup_conect {
	    min-width: 200px;
	    min-height: 100px;
	}
	.popup_conect .cost__forma__text {
	    font-size: 14px;
	}
	.popup_conect .cost__right__form {
	    max-width: 240px;
	}
	.popup_conect .checkbox__text {
	    font-size: 10px;
	    line-height: 10px;
	    padding: 0px 0;
	    width: 70px;
	}
	.popup_conect label {
	
	}

	.popup_conect .cost__send {
	    margin: 5px auto;
	    padding: 10px 70px;
	}
}	


@media screen and (max-width: 380px) {
	.header__nav__item:nth-child(2){
		display: none;
	}
	.header__logo {
		display: none;
	}
	.welocome__honor {
	    right: 100px;
	}
	.welcome__scroll{
		display: none;
	}
	.num {
	    font-size: 24px;
	    width: 50px;
	}
	.plus {
	    padding-left: 10px;
	    padding-right: 10px;
	    font-size: 24px;
	}
	.item__elements {
	    font-size: 10px;
	}
	.gallery__item {
	    grid-column: span 6;
	    padding-bottom: 20px;
	}
	.gallery__item__elem {
	    width: 300px;
	    height: 200px;
	}
	.contact__info {
	    grid-column: span 3;
	}
	.contact__map {
	    grid-column: span 3;
	}
}
@media screen and (max-width: 330px) {

	.header__nav__item__link {
	    margin-left: 3px;
	    font-size: 7px;
	}
	.welcome__text {
	    font-size: 40px;
	}
	.welocome__honor {
	    right: 60px;
	}
	.num {
	    font-size: 18px;
	    width: 35px;
	}
	.about__right__text {
	    font-size: 22px;
	    top: 50%;
	}
	.money {
	    font-size: 40px;
	}
	.house{
		font-size: 40px;
	}
	.place {
	    font-size: 16px;
	}
}
